.nav {
    position: relative;
    z-index: 1;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
.nav-image {
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}
.nav-container-left {
    margin-left: 50px;
}
.nav-rogo {
    margin: 15px 0 0 20px;
}

.nav-rogo-text {
    color: black;
}

.nav {
    height: 80px;
    background-color: #faf437;
    box-shadow: 0px 4px 4px;
}
.rogo {
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    color: black;
}
.nav-icon {
    text-decoration: none;
    font-size: 2.5em;
    color: black;
    transition: opacity 0.5s;
}
.nav-icon:hover {
    opacity: 0.5;
}
.nav-url {
    margin: 20px 30px 0 0;
}
