.card {
    margin: 30px auto;
    width: 500px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
}
.card-header-name {
    display: flex;
    justify-content: space-between;
}
.delete-icon{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    transition: opacity 0.5s;
}
.nav-icon:hover {
    opacity: 0.5;
}
.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #faf437;
    vertical-align: middle;
}
.profile-image {
    margin: 5px 5px 5px 5px;
}
.name {
    font-size: large;
    font-weight: bold;
}
.card-header-university {
    background-color: #faf437;
    display: flex;
    justify-content: center;
}
.university {
    font-weight: bold;
    margin: 6px 0;
}
.center {
    display: flex;
    justify-content: center;
}
.help {
    font-size: x-large;
    font-weight: bold;
    padding: 20px 15px;
}
.desire {
    font-size: x-large;
    font-weight: bold;
    padding: 20px 15px;
}

.inline-block {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #000000;
}
.fa-heart {
    text-decoration: none;
    color: #ff5192;
    font-size: 2.5em;
}
.card-love {
    text-align: right;
    margin: 15px 30px 5px 0px;
}
.card-love p{
  display: inline-block;
}
.ok-button {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    background-color: #5bdd1f;
    padding: 15px 40px;
    font-size: 13px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px 0;
}
.ok-button:hover {
    color: black;
    background-color: #265c0e;
}
.card-comment-show {
    padding: 15px;
}
.comment-form {
    display: flex;
    justify-content: center;
}
.comment-input {
    width: 480px;
    padding: 15px;
    border: 1.5px solid #dcdcdc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    resize: none;
}
.center {
    display: flex;
    justify-content: center;
}
.match-text {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20%;
    font-weight: bold;
    color: #faf437;
    font-size: large;
    background-color: black;
}

.submit-button {
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    background-color: #faf437;
    padding: 10px 20px;
    font-size: 13px;
    border-style: none;
    border-radius: 10px;
    transition: 0.5s;
    outline: none;
}

.submit-button:hover {
    color: black;
    background-color: #979326;
}
