.container {
    display: flex;
    justify-content: center;
}
.card {
    margin: 30px 0 30px 0;
    width: 520px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #ccc;
}
.card-body {
    margin: 0 20px;
}
.text-area {
    margin: 20px 0 30px 0;
    text-align: center;
}
.form-group {
    margin: 20px 0;
}
textarea {
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    resize: none;
    border: 1.5px solid #dcdcdc;
}
.sample-text{
    text-align: center;
}
.submit-button {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    background-color: #faf437;
    padding: 10px 10px;
    font-size: 13px;
    border-style: none;
    border-radius: 10px;
    transition: 0.5s;
    outline: none;
}

.submit-button:hover {
    color: black;
    background-color: #979326;
}
.error {
    color: red;
    font-weight: bold;
}
