.card {
    margin: 30px auto;
    width: 600px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #ccc;
}
.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.card-body img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid #faf437;
    vertical-align: middle;
}
.card-body p {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
}
.button {
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    background-color: #faf437;
    padding: 10px 20px;
    font-size: 13px;
    border-style: none;
    border-radius: 10px;
    transition: 0.5s;
    outline: none;
}

.button:hover {
    color: black;
    background-color: #979326;
}

